<footer class="pt-3">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <p><img class="img-logo-footer" src="{{{page.global.img_logo_footer}}}"/></p>
                <p>Made with <span style="font-size:200%;color:red;">&hearts;</span> by Rahul Makwana</p>
                <p> © Copyright 2021 Rahul - All Rights Reserved</p>
                <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">

                    {{#global.social.twitter.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.twitter.link}}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {{/global.social.twitter.show_or_hide}}

                    {{#global.social.linkedin.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.linkedin.link}}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    {{/global.social.linkedin.show_or_hide}}

                    {{#global.social.github.show_or_hide}}
                    <li class="list-inline-item"><a href="{{{global.social.github.link}}}" target="_blank"><i class="fa fa-github"></i></a></li>
                    {{/global.social.github.show_or_hide}}

                </ul>

            </div>
        </div>
    </div>
</footer>
